RewriteEngine on
RewriteBase /public/
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^$ /public [L]


# RewriteCond %{REQUEST_URI} !^/public/
# RewriteRule ^(.*)$ /public/$1 [L,QSA]