RewriteEngine on

RewriteRule ^$ /public [L]
RewriteCond %{THE_REQUEST} \s/+public/(\S*) [NC]
RewriteRule ^ /%1 [L,R=301,NE]

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# RewriteCond %{REQUEST_FILENAME} !-d
